body{
    background: #dedede;
    font-family: arial;
    margin: 0;
    padding: 0;
}
.dropdwn{
    margin: 0 auto;
}
nav{
    background: #2c3e50;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}
nav ul{
    padding: 0;
    margin: 0 30px 0 auto;
    width: fit-content;
}
nav ul li{
    background: #2c3e50;
    position: relative;
    list-style: none;
    display: inline-block;
}
nav ul li a{
    display: block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 15px;
}
nav ul li a:hover{
    background: #243342;
}
nav ul li ul{
    position: absolute;
    top: 60px;
    display: none;
    z-index: 5;
}
nav ul li:hover > ul{
    display: block;
}
nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}

.slide{
    width:100%;
    height:400px;
}
.logo{
    float: left;
    margin-top: 15px;
    color: #fff;
    margin-left: 30px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.swiper-slide {
    background-position: center;
   background-size: cover;
     
         width:100%;
  height:400px;
         

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .products
  {
  width:30%;
  height:40%;
  
   filter: blur(.5px);
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  border-radius:25px;
  }
  
  
  .product-item .down-content {
      padding: 5px;
      position: relative;
  }
  
  
   .product-item .down-content h4 {
      font-size: 20px;
      color: #1a6692;
      
  }
  
  .product-item .down-content h6 {
      font-size: 20px;
      color: #1a6692;
  }
  
  .product-item .down-content h6 small{
      color: #1a6692;
  }
  
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }